.login {
    margin-left: auto;
}

.posts {
    align-content: start;
    flex-grow: 1;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.posts a {
    color: black;
    text-decoration: none;
}

.post_box {
    width: calc(35vw - 15px);
    height: 35vh;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px;
}

.search_box {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_box input {
    padding: 5px;
    margin-right: 10px;
}

.search_box button {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.posts,
.search_box {
    width: 75vw;
    margin-left: auto;
    margin-right: 0;
}

.pagination {
    text-align: center;
    /* 子要素を中央に寄せる */
}

.pagination-button {
    margin: 5px;
}

@media screen and (max-width: 750px) {

    .search_box button {
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        margin: auto;
    }

    a {
        width: fit-content;
        height: fit-content;
    }

    .posts {
        display: block;
        width: 80%;
        margin: auto;
    }

    .search_box {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 5%;
    }

    .post_box {
        text-align: center;
        height: fit-content;
        width: fit-content;
        padding: 0%;
    }

    .post-img {
        width: 100%;
        height: auto;
    }
}