body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e5e7e9;
    color: #3a3a3a;
    padding-top: 70px;
    /* ヘッダーの高さ分のスペースを追加 */
    padding-bottom: 40px;
    /* フッターの高さ分のスペースを追加 */
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #7ba9e0;
    width: 100vw;
    position: fixed;
    /* ヘッダーを固定 */
    top: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
}

header img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

header p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    flex-grow: 1;
}

header button {
    padding: 10px 20px;
    background-color: #7ba9e0;
    color: white;
    border: none;
    transition: background-color 0.3s;
    margin-right: 40px;
}

header button:hover {
    background-color: #5c8ac5;
}

.header-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.header-button-link {
    text-decoration: none;
    margin-left: auto;
}

.hamburger-menu {
    display: none;
}

.sidebar {
    position: fixed;
    top: 65px;
    /* ヘッダーの高さ + 10pxの余白 */
    bottom: 58px;
    /* フッターの高さ + 10pxの余白 */
    left: 0;
    width: 200px;
    background-color: #555;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1;
}

.sidebar button {
    color: white;
    background-color: #777;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar button:hover {
    background-color: #5c8ac5;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    /* フッターを固定 */
    bottom: 0;
    left: 0;
    width: 100vw;
    /* フッターを画面全体に拡張 */
    background-color: #7ba9e0;
    /* フッターの背景色を追加 */
    padding: 10px;
    box-sizing: border-box;
}

footer img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.footer-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin-right: 1%;
}

@media screen and (max-width: 750px) {

    header,
    footer {
        padding: 10px;
    }

    header img {
        width: 20px;
    }

    header button {
        padding: 10px 20px;
        background-color: #7ba9e0;
        color: white;
        border: none;
        transition: background-color 0.3s;
        margin-right: -10px;
    }

    header button:hover {
        background-color: #5c8ac5;
    }

    .sidebar {
        display: none;
    }

    .hamburger-menu {
        position: fixed;
        top: 65px;
        left: 0;
        width: 200px;
        z-index: 1;
        display: block;
    }

    .menu-icon {
        cursor: pointer;
        display: inline-block;
        padding: 5px;
        position: absolute;
        z-index: 2;
        top: -10px;
    }

    .bar {
        background-color: #333;
        display: block;
        height: 3px;
        margin: 5px auto;
        width: 25px;
    }

    .menu {
        background-color: rgba(85, 85, 85, 0.7);
        flex-direction: column;
        gap: 15px;
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        transition: height 0.3s ease;
        width: 120px;
        z-index: 1;
    }

    .menu a {
        color: white;
        display: block;
        padding: 10px;
        text-decoration: none;
    }

    #menu-toggle:checked+.menu-icon+.menu {
        height: auto;
        padding: 10px 0;
    }

    #menu-toggle {
        display: none;
    }

    header p {
        font-size: 13px;
    }

    footer img {
        width: 20px;
    }

    footer p {
        font-size: 13px;
    }
}