body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e5e7e9;
    color: #3a3a3a;
}

header,
footer {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #7ba9e0;
    /* ヘッダーとフッターの色をさらに薄く */
    width: 100vw;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
}

header img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

header p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    flex-grow: 1;
}

header button {
    padding: 10px 20px;
    background-color: #7ba9e0;
    /* ヘッダーの色に合わせる */
    color: white;
    border: none;
    transition: background-color 0.3s;
    margin-left: -60px;
}

header button:hover {
    background-color: #5c8ac5;
    /* ホバー時の色を薄く */
}

.sidebar {
    position: fixed;
    top: 70px;
    bottom: 40px;
    left: 0;
    width: 200px;
    background-color: #555;
    /* サイドバーの色を薄く */
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1;
}

.sidebar button {
    color: white;
    background-color: #777;
    /* サイドバーのボタンを薄く */
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar button:hover {
    background-color: #5c8ac5;
    /* ホバー時の青を薄く */
}


footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
}

footer img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

/* ここから中身 */
.section {
    margin: 20px 20px 20px 220px;
    text-align: center;
    display: flex;
    justify-content: center;
}





.draw-area {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
}
.toolbox {
    box-sizing: border-box;
    height: 400px;
    border: solid 1px #000;
    padding: 10px;
    margin: 10px;
    margin-top: 150px;
    text-align: start;
}
.toolbox input[type="radio"] {
    accent-color: blue;
    inline-size: 1.5em;
    block-size: 1.5em;
}
.toolbox label {
    padding: 0.1em 1em;
    width: 5em;
    color: #fff;
}

.toolbox label[for="colorRed"],
#colorRed {
    accent-color: red;
    background-color: red;
}

.toolbox label[for="colorBlue"],
#colorBlue {
    accent-color: blue;
    background-color: blue;
}

.toolbox label[for="colorGreen"],
#colorGreen {
    accent-color: green;
    background-color: green;
}

.toolbox label[for="colorBlack"],
#colorBlack {
    accent-color: black;
    background-color: black;
}

.toolbox label[for="colorWhite"],
#colorWhite {
    accent-color: white;
    background-color: white;
    color: black;
}

#text-contents {
    width: 600px;
    font-size: x-large;
    min-height: 3em;

}

#title {
    margin: 10px;
    font-size: x-large;
}

.button.primary {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-align: center;
}

.button.primary:hover {
    background-color: #0056b3;
}

#error {
    color: red;
}