.login {
    margin-left: auto;
}

.registration-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.registration-container {
    width: 40%;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.registration-title {
    text-align: center;
    margin-bottom: 20px;
}

.field {
    margin-bottom: 10px;
}

.field.is-grouped .control:not(:last-child) {
    margin-bottom: 5px;
}

.field .label {
    margin-bottom: 8px;
}

.button.is-link,
.button.is-primary {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-align: center;
}

.log-sc-btn {
    margin-top: 10px;
    text-align: center;
    width: 480px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    padding: 12px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-align: center;
}

.btn-center {
    text-align: center;
}

.button.is-link:hover,
.button.is-primary:hover {
    background-color: #0056b3;
}

.registration-login {
    width: 40%;
    padding: 20px;
    border-radius: 8px;
}

.main-cont {
    grid-area: main;
    display: block;
}

.registration-wrapper {
    margin-top: 10%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .registration-container {
        margin-top: 5%;
        padding: 10px;
        width: 80%;
    }

    .registration-login {
        width: 80%;
    }

    .button.is-link,
    .button.is-primary,
    .log-sc-btn {
        padding: 10px;
    }
}