.login {
    margin-left: auto;
}

.sidebar+.post {
    margin-left: 220px;
}

.post {
    align-content: start;
    flex-grow: 1;
    margin: 10px;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
    margin-left: auto;
    margin-right: 0;
}

.image_area {
    max-width: 600px;
    width: 100%;
}

#text_contents {
    width: 100%;
}

#post_edit_btn_area {
    margin: 1em;
}

.btn {
    margin: 0 10px;

}