.post {
    align-content: start;
    flex-grow: 1;
    text-align: center;
    flex-wrap: wrap;
    width: 75vw;
    margin-left: auto;
    margin-right: 0;
}

.post-box {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: x-large;
    font-weight: bold;
}

.post-img {
    width: 75%;
    height: auto;
}