.login {
    margin-left: auto;
}

.sidebar+.post {
    margin-left: 220px;
}

.post {
    align-content: start;
    flex-grow: 1;
    margin: 10px;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
    margin-left: auto;
    margin-right: 0;
}