button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.profile-form {
    margin-top: 15%;
    padding: 20px;
    text-align: center;
}

.input-in {
    margin-top: 10px;
}